.footer{
	padding: 31px 0 34px;
	background: #333;
	color: #fff;

	.footer-inner{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 30px;
	}

	.footer-caption{
		font-size: 32px;
		letter-spacing: 0.065em;
		margin-bottom: 16px;
		color: #fff;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $second-font;
	}

	.logo-and-copyright{
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
	}

	@media screen and (max-width: 1199px){
		.footer-inner{
			grid-template-columns: repeat(4, auto);
		}
	}

	@media screen and (max-width: 991px){
		padding: 40px 0 30px;

		.footer-inner{
			grid-gap: 20px;
		}

		.footer-caption{
			font-size: 24px;
		}
	}

	@media screen and (max-width: 767px){
		.footer-inner{
			grid-template-columns: 1fr 1fr;
			grid-gap: 60px 30px;
		}
	}

	@media screen and (max-width: 575px){
		.footer-inner{
			grid-template-columns: 1fr;
			grid-gap: 0;
			text-align: center;
		}

		.footer-logo{
			margin-left: auto;
			margin-right: auto;
			padding-right: 0;
			margin-bottom: 66px;
		}

		.footer-contacts-block{
			order: 5;
			margin-top: 72px;

			.copyright{
				margin-top: 44px;
			}
		}
	}
}

@media screen and (max-width: 575px){
	.xs-accordion{
		padding: 24px 0;
		border-bottom: 1px solid rgba(#fff, .1);
		width: calc(100% + 15px * 2);
		margin-left: -15px;
		margin-right: -15px;

		.ac-header{
			display: flex;
			align-items: center;
			justify-content: center;

			.footer-caption{
				margin-bottom: 0;
				line-height: 36px;
			}

			&:after{
				content: '';
				display: block;
				width: 13px;
				height: 7px;
				background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 7'%3E%3Cpath d='M1 .5 6.5 6 12 .5' stroke='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
				flex: none;
				margin-left: 8px;
				transition: all $t;
			}
		}

		&.opened{
			.ac-header{
				&:after{
					transform: rotate(-180deg);
				}
			}
		}

		.ac-content{
			display: none;
			padding-top: 16px;
		}

		.footer-nav{
			font-size: 16px;
			grid-gap: 16px;
		}
	}
}

.footer-logo{
	display: block;
	margin-bottom: 30px;

	@media screen and (max-width: 991px){
		width: 198px;
		padding-right: 20px;
	}

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.footer-contacts{
	display: grid;
	grid-gap: 16px;

	a{
		font-weight: bold;
		color: inherit;

		&:hover,
		&:focus{
			color: $primary;
		}
	}
}

.footer-nav{
	display: grid;
	grid-gap: 8px;

	li{
		a{
			color: inherit;

			&:hover,
			&:focus{
				color: $primary;
			}
		}

		&.current-menu-item,
		&.current-menu-parent{
			a{
				color: $primary;
				font-weight: bold;
			}
		}
		
		&.current-menu-item{
			a{
				cursor: default;
			}
		}
	}
}