@mixin p{
	font-size: 16px;
	line-height: 1.1875;
}

@mixin p-small{
	font-size: 12px;
	line-height: 1.25;
}

@mixin p-big{
	@media screen and (min-width: 575px){
		font-size: 24px;
		line-height: 1.25;
	}
}

@mixin h1{
	font-size: 64px;
	line-height: 1.43;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $second-font;
	letter-spacing: 0.02em;

	@media screen and (max-width: 575px){
		font-size: 24px;
	}
}

@mixin h2{
	@include h1;
}

@mixin h3{
	font-weight: bold;
	font-size: 54px;
	line-height: 1.43;
	font-family: $second-font;
	letter-spacing: 0;

	@media screen and (max-width: 991px){
		font-size: 44px;
	}
}

@mixin h4{
	font-weight: 800;
	font-size: 37px;
	line-height: 1.216;
}

@mixin h5{
	font-weight: 800;
	font-size: 24px;
	line-height: 1.216;

	@media screen and (max-width: 575px){
		font-size: 20px;
	}
}

@mixin default-ul{
	list-style: none;
	display: grid;
	grid-gap: 8px;

	li{
		position: relative;
		padding-left: 16px;

		&:before{
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			background: url(../img/icons/marker.png) no-repeat center center / contain;
			position: absolute;
			top: 5px;
			left: 0;
		}
	}
}

body{
	font-family: $main-font;
	color: $text-color;

	@include p;
}

h1,h2,h3,h4,h5,h6{
	color: var(--headers-color, #{ $text-dark });
}

.tpg{
	p{
		margin-bottom: 0.333em;
		@include p;

		&:last-child{
			margin-bottom: 0;
		}
	}

	ul{
		margin-bottom: 1.1875em;

		&:last-child{
			margin-bottom: 0;
		}

		li{
			&:before{
				content: '';
				display: inline-block;
				width: 4px;
				height: 4px;
				background: $primary;
				border-radius: 50%;
				margin-right: 6px;
			}
		}
	}
}

.page-caption{
	@include h1;
}

.section-caption{
	margin-bottom: 24px;

	&:last-child{
		margin-bottom: 0;
	}

	&.text-center{
		text-align: center;
	}

	.sc-title{
		@include h2;

		strong{
			color: $primary;

			@supports(-webkit-text-stroke: 1px){
				color: transparent;
				-webkit-text-stroke: 1px $primary;
			}
		}

		&.filled{
			strong{
				@supports(-webkit-text-stroke: 1px){
					color: $primary;
				}
			}
		}

		&.white{
			color: #fff;

			strong{
				color: #fff;

				@supports(-webkit-text-stroke: 1px){
					color: transparent;
					-webkit-text-stroke-color: #fff;
				}
			}
		}

		&.smaller{
			@include h3;
		}

		&.small{
			font-size: 51px;
		}

		@media screen and (max-width: 1199px){
			@include h3;

			&.smaller{
				font-size: 41px;
			}
		}

		@media screen and (max-width: 575px){
			@include h2;

			&.smaller{
				@include h2;
			}
		}
	}

	.sc-subtitle{
		strong{
			font-size: 1.5em;
			font-weight: 900;
		}
	}

	&.subtitle-on-right{
		@media screen and (min-width: 992px){
			display: flex;

			.sc-subtitle{
				margin-left: 70px;
				max-width: 500px;
			}
		}

		@media screen and (max-width: 991px){
			.sc-subtitle{
				margin-top: 24px;
			}
		}
	}

	&.with-image{
		@media screen and (max-width: 991px){
			display: flex;
			align-items: flex-end;

			.sc-image{
				flex: none;

				img{
					display: block;
					max-width: 270px;
					max-height: 248px;
				}
			}
		}

		@media screen and (max-width: 575px){
			align-items: center;

			.sc-image{
				img{
					max-width: 94px;
					max-height: 88px;
				}
			}
		}
	}
}