.agvantages-section{
	background: $darkblue-bg;
	color: #fff;
	padding: var(--default-padding) 0;
	overflow: hidden;

	.section-caption{
		position: relative;
		z-index: 3;
		margin-bottom: 24px;
	}

	--columns-count: 4;

	.columns-3{
		--columns-count: 3;

		@media screen and (max-width: 991px){
			--columns-count: 1;
		}
	}

	@media screen and (min-width: 992px){
		&.vertical-layout{
			--columns-count: 3;

			.section-inner{
				display: grid;
				align-items: center;
				grid-template-columns: 285px 1fr;
			}

			&.half-width-header{
				--columns-count: 2;

				.section-inner{
					grid-template-columns: 1fr 1fr;
				}

				.section-header{
					padding-right: 30px;
				}
			}
		}

		@media screen and (max-width: 1199px){
			&.vertical-layout{
				--columns-count: 2;
			}
		}
	}

	@media screen and (max-width: 991px){
		--columns-count: 2;

		@media screen and (min-width: 768px){
			.md-columns-3{
				--columns-count: 3;
			}
		}

		@media screen and (min-width: 460px){
			.md-columns-2{
				--columns-count: 2;
			}
		}

		.section-caption{
			text-align: center;
		}

		@media screen and (min-width: 768px){
			&.on-company-page {
				.section-caption{
					text-align: left;
				}
			}
		}

		@media screen and (max-width: 767px){
			&.on-company-page{
				.section-caption{
					margin-bottom: 0;
					padding-bottom: 24px;
					position: relative;

					&:after{
						content: '';
						display: block;
						width: 3px;
						height: 100%;
						position: absolute;
						right: -1px;
						background: $darkblue;
						top: 0;
					}
				}
			}
		}
	}

	@media screen and (max-width: 459px){
		--columns-count: 1;
	}
}

.advantages-grid{
	display: grid;
	grid-template-columns: repeat(var(--columns-count, 4), 1fr);
	border-bottom: 1px solid rgba(#000, .1);
	border-right: 1px solid rgba(#000, .1);
}

.advantage-card{
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 190px;
	text-align: center;
	border-top: 1px solid rgba(#000, .1);
	border-left: 1px solid rgba(#000, .1);
	padding: 30px 22px 40px;

	.card-image{
		margin-bottom: 16px;
		display: flex;
		align-items: flex-end;
		position: relative;

		&:after{
			content: '';
			display: block;
			width: 332px;
			height: 332px;
			border-radius: 50%;
			background: #039BE5;
			filter: blur(89px);
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%) scale(0);
			opacity: 0;
			transition: all $t;
		}

		img{
			position: relative;
			z-index: 2;
			max-width: 100%;
			max-height: 70px;
			display: block;
		}

		.on-company-page &{
			height: 80px;

			img{
				max-height: 80px;
			}
		}
	}

	@media screen and (min-width: 768px){
		&:hover,
		&:focus{
			.card-image{
				&:after{
					opacity: 1;
					transform: translate(-50%, -50%) scale(1);
				}
			}
		}
	}

	&.big-icon{
		.card-image{
			max-height: 95px;

			img{
				max-height: 95px;
			}
		}
	}

	.card-content{
		position: relative;
		z-index: 3;
	}

	.card-caption{
		@include h5;
		margin-bottom: 8px;
		color: inherit;

		a{
			color: inherit;
		}
	}
}